<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container sl-page">
  <div class="row">
    <div ng-include="'components/sidebar/sidebar.html'"></div>
    <div class="col-lg-9 col-sm-9">
      <div class="sl-section lg">
        <h3 class="sl-heading">Your Links</h3>
        <ul class="list-unstyled sl-list">
          <li class="row" ng-repeat="userservice in userservices">
            <div class="sl-link" ng-class="{userhas: userservice.userhas}">
              <div class="col-lg-3 col-sm-3">
                <span class="dragholder">
                  <img src="assets/images/draghandle.svg" alt="">
                </span>
                <span class="sl-icon">
                  <em class="icon icon-{{userservice.icon}}"></em>
                </span>
                <span class="sl-service">
                  {{userservice.name}}
                </span>
              </div>
              <div class="col-lg-9 col-sm-9 text-right">
                <span class="sl-service-link">
                  <a href="" class="service-url" tooltip-placement="right" tooltip="Click to edit!" tooltip-append-to-body="true" onbeforesave="updateLink(userservice, $data)" editable-text="userservice.url">{{ userservice.url }}
                  </a>
                  <a ng-href="{{userservice.url}}" target="_blank" tooltip-append-to-body="true"   tooltip="Take me to the page." class="external-link"><img src="assets/images/new_tab.svg" alt=""></a>
                  <span class="btn-group link-settings" dropdown is-open="userservice.dropdown">
                    <a href='' class="dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                      <em class="icon icon-angle-down"></em>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"  ng-if="userservice.userhas"></li>
                      <li  ng-if="userservice.userhas"><a href="" ng-click="removeLink(userservice, $index)">Remove</a></li>
                    </ul>
                  </span>

                  </span>
              </div>

            </div>
          </li>

          <li class="row">
            <div class="sl-link">
              <div class="col-lg-1 col-sm-1"></div>
              <div class="col-lg-3 col-sm-3">

                  <select name="" id="" class="" style="width: 100%" ui-select2="select2Options" ng-model="select2">
                    <option value="">Facebook</option>
                    <option value="">Twitter</option>
                    <option value="">Google</option>
                    <option value="">Blogpost</option>
                    <option value="">Dribbble</option>
                  </select>
                </div>
                <div class="col-lg-8 col-sm-8">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <p class="text-center">All right reserved &copy; 2014</p>
  </div>
</footer>
