<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container">
  <div class="row">
    <div ng-include="'components/sidebar/sidebar.html'"></div>
    <div class="col-lg-9">
      <h3 class="page-header">Your Links</h3>


      <ul class="list-unstyled" ng-repeat="link in awesomeLinks">
        <li>
          {{link.service}} - {{link.name}} - {{link.handle}}
          <!-- <a href="#" tooltip="{{link.info}}">{{thing}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a> -->
        </li>
      </ul>
      <div class="clearfix"></div>


      <form class="thing-form">
        <label>Syncs in realtime across clients</label>
        <p class="input-group">
          <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
          </span>
        </p>
    </form>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">

  </div>
</footer>
