<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container sl-page">
  <div class="row">
    <div ng-include="'components/sidebar/sidebar.html'"></div>
    <div class="col-lg-9 col-sm-9">
      <div class="sl-section lg">
        <h3 class="sl-heading">Services</h3>
        <div class="clearfix"></div>

<!--         <form ng-submit="addNewService()">
          <p class="form-group">
            <label for="">Service Name</label>
            <input required='true' type="text" class="form-control" ng-model="serviceName">
          </p>
          <p class="form-group">
            <label for="">URL</label>
            <input required='true' type="url" class="form-control" ng-model="serviceURL">
          </p>
          <p class="form-group">
            <label for="">Icon</label>
            <input required='true' type="text" class="form-control" ng-model="serviceIcon">
          </p>
         <div class="checkbox">
            <label>
              <input required='true' type="checkbox" ng-model="serviceStatus"> is active
            </label>
          </div>
          <p>
            <button class="btn btn-primary">Submit</button>
          </p>
        </form> -->

        <table class="table">
          <thead>
            <tr>
              <th style="width:3%">#</th>
              <th style="width:20%">Name</th>
              <th style="width:20%">icon</th>
              <th style="width:40%">URL</th>
              <th style="width:35%">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="service in services">
              <td>{{$index + 1}}</td>
              <td>
                <span editable-text="service.name" e-name="name" e-form="rowform" onbeforesave="checkName($data, service._id)" e-required>
                  {{ service.name || 'empty' }}
                </span>
              </td>
              <td>
                <span editable-text="service.icon" e-name="icon" e-form="rowform" onbeforesave="checkIcon($data, service._id)" e-required>
                  {{ service.icon || 'empty' }}
                </span>
              </td>
              <td>
                <span editable-text="service.url" e-name="url" e-form="rowform" onbeforesave="checkURL($data, service._id)" e-required>
                  {{ service.url || 'empty' }}
                </span>
              </td>

          <td style="white-space: nowrap">
                  <!-- form -->
                  <form editable-form name="rowform" onbeforesave="saveService($data, service._id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="newSer == service">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-success btn-xs">
                      <em class="icon icon-checkmark"></em>
                    </button>
                    &nbsp;&nbsp;&nbsp;
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-info btn-xs">
                      –
                    </button>
                  </form>
                  <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-xs btn-info" ng-click="rowform.$show()"> <em class="icon icon-pencil"></em></button>
                    &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-xs btn-danger" ng-click="removeService($index, service._id)"> <em class="icon icon-remove"></em></button>
                  </div>
                </td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-info btn-xs" ng-click="addNewService()">Add service</button>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <p class="text-center">All right reserved &copy; 2014</p>
  </div>
</footer>
