.sl-sidebar {
  margin-top: 10px;
  min-height: 600px;
}

.sl-sidebar-nav {
  list-style-type: none;
  li {
    a {
      padding: 10px 20px 10px 20px;
      display: block;
      font-weight: 300;
      font-size: 16px;
      &:hover {
        background: #f8f8f8;
        text-decoration: none;
        color: #41557d;
      }
      &:focus {
        //background: #fff;
        text-decoration: none;
        //color: #41557d;
      }
    }
  }
}
